:root {
    --default-margin: 16;
    --default-separation: 8;
}

body {
  font-size: 36;
}

Label.Large {
  font-size: 48;
  --const-outline-size: 16;
}

MarginContainer {
  --const-margin-left: var(--default-margin);
  --const-margin-right: var(--default-margin);
  --const-margin-top: var(--default-margin);
  --const-margin-bottom: var(--default-margin);
}

VBoxContainer, HBoxContainer {
  --const-separation: var(--default-separation);
}

PanelContainer {
  border-radius: 12;
  background: #111111;
}

ProgressBar:background {
  background: #000000;
}
ProgressBar:fill {
  background: #ffffff;
}