:root {
    --default-margin: 16;
    --default-separation: 8;
    --default-border-radius: 16;
    --label-outline: 16;
    --label-large-outline: 32;
    --slider-height: 16;
    --background-color: #222831;
    --primary-color: #00ADB5;
    --primary-highlight-color: #55CFD7;
    --secondary-color: #393E46;
    --text-color: #EEEEEE;
    --health-color: #37CF46;
    --error-color: #FF6969;
}

LinkButton {
  color: var(--primary-color);
}

body {
  font-size: 36;
  font-family: url(default_font.tres);
}

Button, Button:pressed, Button:hover, Button:hover_pressed, Button:disabled, Button:focus {
  color: var(--text-color);
  background: var(--primary-color);
  border-radius: var(--default-border-radius);
  padding: 12 8 4 8;
}

Button:disabled {
  background: var(--secondary-color);
}

Button:pressed {
  background: var(--text-color);
  color: var(--primary-color);
}

Button:hover, Button:hover_pressed, Button:focus {
  background: var(--primary-highlight-color);
}

Label, Label.Large, Label.Small, Label.Smallest, Label.Largest, Label.Error {
  color: var(--text-color);
  padding: 10 0 0 0;
  --const-outline-size: var(--label-outline);
}

Label.Large {
  font-size: 48;
}

Label.Small {
  font-size: 24;
}

Label.Smallest {
  font-size: 18;
}

Label.Largest {
  font-size: 91;
  --const-outline-size: var(--label-large-outline);
}

Label.Error {
  color: var(--error-color);
  font-size: 48;
}

MarginContainer {
  --const-margin-left: var(--default-margin);
  --const-margin-right: var(--default-margin);
  --const-margin-top: var(--default-margin);
  --const-margin-bottom: var(--default-margin);
}

VBoxContainer, HBoxContainer {
  gap: var(--default-separation);
}

PanelContainer {
  background: var(--background-color);
  border-radius: var(--default-border-radius);
}

PanelContainer.Primary {
  background: var(--primary-color);
}

HSlider {
  --icons-grabber: url(res://assets/slider_handle.png);
  --icons-grabber-highlight: url(res://assets/slider_handle.png);
  --icons-grabber-disabled: url(res://assets/slider_handle.png);
}

HSlider:slider {
  background: var(--secondary-color);
  border-radius: var(--default-border-radius);
  padding: var(--slider-height) 0 var(--slider-height) 0;
}

HSlider:grabber_area, HSlider:grabber_area_highlight {
  background: var(--primary-color);
  border-radius: var(--default-border-radius) 0 0 var(--default-border-radius);
  padding: var(--slider-height) 0 var(--slider-height) 0;
}

HSlider:grabber_area_highlight {
  background: var(--primary-highlight-color);
}

ProgressBar.Health:background {
  background: var(--secondary-color);
  border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
}
ProgressBar.Health:fill {
  background: var(--health-color);
  border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
}

ProgressBar.Time:background {
  background: var(--secondary-color);
  border-radius: 0 0 var(--default-border-radius) var(--default-border-radius) ;
}
ProgressBar.Time:fill {
  background: var(--text-color);
  border-radius: 0 0 var(--default-border-radius) var(--default-border-radius) ;
}