:root {
    --default-margin: 16;
    --default-separation: 8;
    --default-border-radius: 8;
    --label-outline: 16;
    --label-large-outline: 32;
    --slider-height: 16;
    
    --background-color: #222831;
    --primary-color: #00ADB5;
    --primary-highlight-color: #55CFD7;
    --secondary-color: #393E46;
    --text-color: #EEEEEE;
    --health-color: #37CF46;
    --error-color: #FF6969;
    
    --text-normal: 36;
    --text-small: 24;
    --text-smallest: 18;
    --text-large: 48;
    --text-largest: 91;
}

body {
  font-size: var(--text-normal);
  font-family: url(default_font.tres);
}

LinkButton {
  color: var(--primary-color);
}

Button {
  color: var(--text-color);
  background: var(--primary-color);
  border-radius: var(--default-border-radius);
  padding: 12 8 4 8;
}

Button:disabled {
  background: var(--secondary-color);
  color: var(--background-color);
}

Button:pressed {
  background: var(--text-color);
  color: var(--primary-color);
}

Button:hover, Button:hover_pressed, Button:focus {
  background: var(--primary-highlight-color);
}

Button.Small {
  font-size: var(--text-small);
}

Label {
  color: var(--text-color);
  padding: 10 0 0 0;
  --const-outline-size: var(--label-outline);
}

Label.Large {
  font-size: var(--text-large);
}

Label.Small {
  font-size: var(--text-small);
}

Label.Smallest {
  font-size: var(--text-smallest);
}

Label.Largest {
  font-size: var(--text-largest);
  --const-outline-size: var(--label-large-outline);
}

Label.Error {
  color: var(--error-color);
  font-size: var(--text-large);
}

Label.SliderInactive {
  color: var(--secondary-color);
  font-size: var(--text-small);
}

Label.SliderActive {
  font-size: var(--text-small);
}

GridContainer {
  --const-h-separation: 32;
  --const-v-separation: 16;
}

MarginContainer {
  --const-margin-left: var(--default-margin);
  --const-margin-right: var(--default-margin);
  --const-margin-top: var(--default-margin);
  --const-margin-bottom: var(--default-margin);
}

VBoxContainer, HBoxContainer {
  gap: var(--default-separation);
}

TabContainer {
  --const-side-margin: 0;
  --const-tab-separation: 8;
  --colors-font-unselected-color: var(--primary-highlight-color);
  --colors-font-hovered-color: var(--text-color);
  --colors-font-disabled-color: var(--background-color);
}

TabContainer:tab-selected, TabContainer:tab-unselected, TabContainer:tab-hovered, TabContainer:tab-focus, TabContainer:tab-disabled {
  background: var(--primary-color);
  padding: 20 16 8 16;
  border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
}

TabContainer:tab-selected {
  background: var(--background-color);
}

TabContainer:tab-hovered, TabContainer:tab-focus {
  background: var(--primary-highlight-color);
}

TabContainer:tab-disabled {
  background: var(--secondary-color);
}

TabContainer:panel {
  background: var(--background-color);
  border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);
}

PanelContainer {
  background: var(--background-color);
  border-radius: var(--default-border-radius);
}

PanelContainer.Primary {
  background: var(--primary-color);
}

CheckBox {
  --icons-checked: url(res://assets/textures/CheckboxIconChecked.svg);
  --icons-unchecked: url(res://assets/textures/CheckboxIcon.svg); 
  --icons-radio-checked: url(res://assets/textures/RadioIconChecked.svg);
  --icons-radio-unchecked: url(res://assets/textures/RadioIcon.svg); 
}

OptionButton {
  --icons-arrow: url(res://assets/textures/OptionArrow.svg); 
}

HSlider {
  --icons-grabber: url(res://assets/textures/slider_handle.png);
  --icons-grabber-highlight: url(res://assets/textures/slider_handle.png);
  --icons-grabber-disabled: url(res://assets/textures/slider_handle.png);
}

HSlider:slider {
  background: var(--secondary-color);
  border-radius: var(--default-border-radius);
  padding: var(--slider-height) 0 var(--slider-height) 0;
}

HSlider:grabber_area, HSlider:grabber_area_highlight {
  background: var(--primary-color);
  border-radius: var(--default-border-radius) 0 0 var(--default-border-radius);
  padding: var(--slider-height) 0 var(--slider-height) 0;
}

HSlider:grabber_area_highlight {
  background: var(--primary-highlight-color);
}

ProgressBar.Health:background {
  background: var(--secondary-color);
  border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
}
ProgressBar.Health:fill {
  background: var(--health-color);
  border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
}

ProgressBar.Time:background {
  background: var(--secondary-color);
  border-radius: 0 0 var(--default-border-radius) var(--default-border-radius) ;
}
ProgressBar.Time:fill {
  background: var(--text-color);
  border-radius: 0 0 var(--default-border-radius) var(--default-border-radius) ;
}