:root {
    --default-margin: 16;
    --default-separation: 8;
    --default-border-radius: 16;
    --label-outline: 16;
    --background-color: #222831;
    --primary-color: #00ADB5;
    --primary-highlight-color: #55CFD7;
    --secondary-color: #393E46;
    --text-color: #EEEEEE;
    --health-color: #37CF46;
}

body {
  font-size: 36;
  font-family: url(default_font.tres);
}

Button, Button:pressed, Button:hover, Button:hover_pressed, Button:disabled, Button:focus {
  color: var(--text-color);
  background: var(--primary-color);
  border-radius: var(--default-border-radius);
  padding: 12 8 4 8;
}

Button:disabled {
  background: var(--secondary-color);
}

Button:pressed {
  background: var(--text-color);
  color: var(--primary-color);
}

Button:hover, Button:hover_pressed, Button:focus {
  background: var(--primary-highlight-color);
}

Label {
  color: var(--text-color);
  --const-outline-size: var(--label-outline);
}

Label.Large {
  font-size: 48;
  color: var(--text-color);
  --const-outline-size: var(--label-outline);
}

Label.Small {
  font-size: 24;
  color: var(--text-color);
  --const-outline-size: var(--label-outline);
}

MarginContainer {
  --const-margin-left: var(--default-margin);
  --const-margin-right: var(--default-margin);
  --const-margin-top: var(--default-margin);
  --const-margin-bottom: var(--default-margin);
}

VBoxContainer, HBoxContainer {
  gap: var(--default-separation);
}

PanelContainer {
  background: var(--background-color);
}

ProgressBar.Health:background {
  background: var(--secondary-color);
  border-radius: var(--default-border-radius);
}
ProgressBar.Health:fill {
  background: var(--health-color);
  border-radius: var(--default-border-radius);
}